<div class="p-3">

    <a class="block w-full bg-white border border-gray-200 rounded-lg shadow ">

        <nav class="grid grid-cols-2 gap-4 m-0 md:px-3 lg:h-[8vh]  global-center">
            <div class="global-center-between md:col-span-1">
                <div>
                    <h1 class=" font-semibold mx-2 text-black">
                        {{title}}
                       <!--  <svg class="h-14 w-14" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <circle cx="7" cy="15" r="4" />
                            <line x1="7" y1="15" x2="7" y2="15.01" />
                            <circle cx="19" cy="17" r="2" />
                            <path d="M10.5 17h6.5" />
                            <path d="M20 15.2v-4.2a1 1 0 0 0 -1 -1h-6l-2 -5h-6v6.5" />
                            <path d="M18 5h-1a1 1 0 0 0 -1 1v4" />
                        </svg> -->
                    </h1>
                </div>
                <!-- <div class="md:hidden">
                    <div class="global-center-end text-black cursor-grabbing">
                        <svg class="h-8 w-8 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                            <circle cx="12" cy="7" r="4" />
                        </svg>
                    </div>
                </div> -->
            </div>
            <div class="text-black md:global-end py-2">
                <ul class="text-xs lg:text-sm  md:justify-end ">

                    <li class=" md:block">
                        <div class="global-center-end text-black cursor-grabbing">
                            <svg class="h-8 w-8 text-black mx-2 md:mx-0" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                                <circle cx="12" cy="7" r="4" />
                            </svg>
                            <span class="hidden md:flex px-3 font-semibold"> {{ 'Wanly Obregón' | uppercase}} </span>
                        </div>
                    </li>

                </ul>
            </div>


           <!--  <div class="col-span-1">

            </div> -->
        </nav>
    </a>
</div>