<div (click)="CloseModal({action : false})" id="overlay" class="fixed top-0 left-0 w-full h-full bg-black opacity-50 z-50"></div>


<div id="drawer-right-example"
    class="animation-rigth fixed top-0 right-0 z-50 h-screen p-4 overflow-y-auto transition-transform  bg-white w-[30vw] "
    tabindex="-1" aria-labelledby="drawer-right-label">
    <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 ">
        Agregar Relación Poder</h5>
    <button (click)="CloseModal({action : false})" type="button" data-drawer-hide="drawer-right-example"
        aria-controls="drawer-right-example"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center ">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close menu</span>
    </button>
    
    <form [formGroup]="addValueForm" class="mb-6">
        
        <div class="">

            <label for="countries" class="block mb-2 text-sm font-medium text-gray-900">
                Empresa
            </label>
            <select id="countries" formControlName="taxIdEmpresa" (ngModelChange)="load_oficinas_empresa(addValueForm.value.taxIdEmpresa)"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option *ngIf="list_empresas.length > 0"></option>
                <option *ngFor="let item of list_empresas" [value]="item.taxId"> {{item.razonSocial}}
                </option>

            </select>

        </div>
        <div class="mt-1">
            <label for="title" class="block mb-1 text-sm font-medium text-gray-900 ">Banco</label>
            <select id="countries" formControlName="taxIdEntidad"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option *ngIf="list_entidades.length > 0"></option>
                <option *ngFor="let item of list_entidades" [value]="item.taxId"> {{item.razonSocial}}
                </option>

            </select>
        </div>
        <div class="mt-1">
            <label for="title" class="block mb-1 text-sm font-medium text-gray-900 ">Poder</label>
            <select id="countries" formControlName="idPoder"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option *ngIf="list_poder.length > 0"></option>
                <option *ngFor="let item of list_poder" [value]="item.idPoder"> {{item.poder}}
                </option>

            </select>
        </div>
        <div class="mt-1">
            <label for="title" class="block mb-1 text-sm font-medium text-gray-900 ">Tipo Firmante</label>
            <select id="countries" formControlName="idTipoRepresentante"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option *ngIf="list_tipo_firmantes.length > 0"></option>
                <option *ngFor="let item of list_tipo_firmantes" [value]="item.idTipoRepresentante">
                    {{item.tipoRepresentante}}
                </option>

            </select>
        </div>
        <div class="mt-1">
            <label for="title" class="block mb-1 text-sm font-medium text-gray-900 ">Estado Poder</label>
            <select id="countries" formControlName="idEstadoPoder"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option *ngIf="list_estado_poder.length > 0"></option>
                <option *ngFor="let item of list_estado_poder" [value]="item.idEstadoPoder">
                    {{item.estadoPoder}}
                </option>
            </select>
        </div>
        <div class="mt-1">
            <label for="title" class="block mb-1 text-sm font-medium text-gray-900 ">Oficina</label>
            <select id="countries" formControlName="idOficina"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option *ngIf="list_oficinas.length > 0"></option>
                <option *ngFor="let item of list_oficinas" [value]="item.idOficina">
                    {{item.oficina}}
                </option>

            </select>
        </div>
        <div class="mt-1">
            <label for="description" class="block mb-1 text-sm font-medium text-gray-900 ">Nota</label>
            <textarea id="description" rows="4" formControlName="nota"
                class="block p-2.5 w-full text-sm max-h-15 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 "
                placeholder="Write event description..."></textarea>
        </div>

        <div class="mb-4">

            <label class="block mb-1 text-sm font-medium text-gray-900 " for="file_input">Cargar Archivo</label>
            <input 
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none "
                aria-describedby="file_input_help" id="file_input" type="file">
            <!-- <p class="mt-1 text-sm text-gray-500 " id="file_input_help">SVG, PNG, JPG or GIF (MAX.
                800x400px).</p> -->

        </div>

        <button (click)="saveFormulario(addValueForm.value)"
            class="text-white justify-center flex items-center bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"><svg
                class="w-3.5 h-3.5 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path
                    d="M18 2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2ZM2 18V7h6.7l.4-.409A4.309 4.309 0 0 1 15.753 7H18v11H2Z" />
                <path
                    d="M8.139 10.411 5.289 13.3A1 1 0 0 0 5 14v2a1 1 0 0 0 1 1h2a1 1 0 0 0 .7-.288l2.886-2.851-3.447-3.45ZM14 8a2.463 2.463 0 0 0-3.484 0l-.971.983 3.468 3.468.987-.971A2.463 2.463 0 0 0 14 8Z" />
            </svg> Guardar
        </button>

    </form>
</div>