.imagen-firmantes {
    background: linear-gradient(rgba(49, 55, 69, 0.5), rgba(57, 92, 175, 0.5)), url('../../../../assets/images/image-firmantes.jpg');
}

.imagen-empresas {
    background: linear-gradient(rgba(49, 55, 69, 0.5), rgba(57, 92, 175, 0.5)), url('../../../../assets/images/imagen-empresas.jpg');
}

.imagen-bancos {
    background: linear-gradient(rgba(49, 55, 69, 0.5), rgba(57, 92, 175, 0.5)), url('../../../../assets/images/imagen-bancos.jpg');
}