<br><br>
<div class="global-center ">
    <div class="w-full ">
        <div class="grid grid-cols-3 gap-8  p-3">
            <div class="">
                <div routerLink="/home/all-rep" class="relative  h-[60vh] bg-cover bg-center bg-no-repeat imagen-firmantes" >
                    <h3 class="bottom-2 p-3 left-0 text-white absolute font-bold text-3xl ms" >
                         Ver <br>Firmantes
                        </h3>
                </div>
            </div>
            <div routerLink="/home/all-business" class="">
                <div class="relative  h-[60vh] bg-cover bg-center bg-no-repeat imagen-empresas" >
                    <h3 class="bottom-2 p-3 left-0 text-white absolute font-bold text-3xl ms" >
                         Ver <br>Empresas
                        </h3>
                </div>
            </div>
            <div routerLink="/home/all-entity" class="">
                <div class="relative  h-[60vh] bg-cover bg-center bg-no-repeat imagen-bancos" >
                    <h3 class="bottom-2 p-3 left-0 text-white absolute font-bold text-3xl ms" >
                         Ver <br>Bancos
                        </h3>
                </div>
            </div>
        </div>
    </div>
</div>
