<div class="login  shadow-md bg-gray-700 ">
    <div class="lg:h-[10vh]">
        <nav class="lg:h-[8vh] mx-2 lg:mx-5  border-b border-white ">
            <div class="left-section">
                <div>
                    <h1 class=" font-semibold mx-2 text-white ">
                        <!-- <svg class="h-14 w-14"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="7" cy="15" r="4" />  <line x1="7" y1="15" x2="7" y2="15.01" />  <circle cx="19" cy="17" r="2" />  <path d="M10.5 17h6.5" />  <path d="M20 15.2v-4.2a1 1 0 0 0 -1 -1h-6l-2 -5h-6v6.5" />  <path d="M18 5h-1a1 1 0 0 0 -1 1v4" /></svg> -->
                        <img src="./../../../assets/images/logo.png" class="h-10 pt-2">
                    </h1>
                </div>
            </div>
        </nav>
    </div>

    <!-- <h1 class="text-black text-3xl text-center font-bold pt-[2%]"> ERP - RANSA </h1> -->
    <h1 class="text-gray-400 text-3xl text-center font-bold pt-[2%]"> PORTAL RANSA </h1>

    <div class=" global-center lg:justify-end  md:pr-[4%]  ">
        <div class=" bg-white  mt-[20%] lg:mt-[5%] p-10 rounded-lg">
            <div>

                <div class="global-center py-1 md:py-2">
                    <div class="field relative">
                        <label [class]="inputNormalLabel">Usuario </label>
                        <div class="relative flex items-stretch">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <svg class="h-6 w-6 text-blue_global" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                </svg>

                            </div>
                            <input [(ngModel)]="usuario" type="username" autocomplete="off"
                                aria-describedby="username1-help" [class]="inputNormalIn + ' pl-8'" pInputText />
                        </div>
                    </div>
                </div>


                <div class="global-center py-1 md:py-2 ">
                    <div class="relative">
                        <label [class]="inputNormalLabel">Contraseña</label>
                        <input [(ngModel)]="password" type="{{verClaveTypeText}}" autocomplete="off"
                            aria-describedby="username1-help" [class]="inputNormalIn" />

                        <div class="absolute inset-y-0 right-0 flex items-center pr-3 mt-3 text-blue-900"
                            (click)="seleccionarVerClave()">
                            <svg *ngIf="!verClave" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path
                                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                <path
                                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                            </svg>
                            <svg *ngIf="verClave" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>
                        </div>
                    </div>
                </div>



                <p class="text-xs text-right cursor-pointer py-3"> Recuperar Contraseña</p>
                <div class="global-center">
                    <button (click)="login()" class="w-full h-[3em] bg-teal-400 text-white cursor-pointer font-bold ">
                        LOGIN
                    </button>
                </div>
                <!--   <div class="global-center">
                    <button (click)="goToRegister()"
                        class="w-full h-[3em] bg-white text-teal-400 cursor-pointer font-bold ">
                        REGISTRO</button>
                </div> -->
            </div>
        </div>
    </div>

    <h1 class="absolute left-0 bottom-0 p-5 text-gray-500 text-4xl font-semibold" style="line-height: .9em!important;">
        <!-- PORTAL ERP - RANSA -->
        <p class="text-lg font-thin opacity-60" >Chacas Technologies v1.0.0</p>
    </h1>
    <p class="hidden  md:flex absolute right-0 bottom-0 p-5 text-sm "
        style="color: white;font-weight:100!important;opacity:0.7">© 2023 Chacas TEC – Todos los derechos reservados</p> 
</div>