<div class="lg:flex lg:items-start lg:justify-between px-3">
  <a class="block w-full mt-1 p-6">
    <form [formGroup]="addValueForm" class="max-w-3xl mx-auto">
      <div class="grid md:grid-cols-4 md:gap-6">
        <div class="relative z-0 col-span-1 mb-5 group">
          <label [class]="label_class">Departamento </label>
          <select [class]="input_class" formControlName="departamentoId">
            <option *ngIf="list_departamentos.length > 0"></option>
            <option *ngFor="let item of list_departamentos" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
        </div>
        <div class="relative z-0 col-span-1 mb-5 group">
          <label [class]="label_class">Más Destacado </label>
          <select [class]="input_class" formControlName="masDestacado">
            <option *ngIf="list_masDestacado.length > 0"></option>
            <option *ngFor="let item of list_masDestacado" [value]="item">
              {{ item }}
            </option>
          </select>
        </div>
        <div class="relative z-0 col-span-2 mb-5 group">
          <input
            type="text"
            [class]="input_class"
            placeholder=" "
            formControlName="nombre"
            required
            autocomplete="nope"
          />
          <label for="floating_last_name" [class]="label_class"> nombre </label>
        </div>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <textarea
          id="message"
          rows="4"
          formControlName="descripcion"
          required
          autocomplete="nope"
          [class]="input_class"
          placeholder=" "
        ></textarea>
        <label for="descripcion" [class]="label_class"> Descripción </label>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <label
            class="block mb-2 text-sm font-medium text-gray-500"
            for="file_input"
            >Upload Foto</label
          >
          <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-transparent focus:outline-none"
            id="file_input"
            type="file"
            required
            formControlName="foto"
          />
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <label
            class="block mb-2 text-sm font-medium text-gray-500"
            for="file_input"
            >Upload Video</label
          >
          <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-transparent focus:outline-none"
            id="file_input"
            type="file"
            required
            formControlName="video"
          />
        </div>
      </div>
      <div *ngIf="bool_search_api" class="relative z-0 w-full mb-5 group">
        <button
          type="button"
          (click)="nextPage()"
          class="text-white bg-gray-800 w-full hover:bg-gray-700 focus:outline-none font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          Guardar
        </button>
      </div>
    </form>
  </a>
</div>

<app-add-sectoristas
  *ngIf="boolAddSectoristas"
  [TypeModal]="sentMOdal"
  (messageEvent)="activateRelacionPoder($event)"
></app-add-sectoristas>
